################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VNWalks/VNWalks.API/VNWalks.API.csproj
/VNWalks/VNWalks.API/VNWalks.API.csproj
